/* small */
.icon-sm {
    font-size: 2rem;
}

.avatar-sm {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
}

/* large */
.image-lg {
    width: 9rem;
    height: 9rem;
    object-fit: cover;
}

.icon-lg {
    font-size: 9rem;
}

.fa-heart {
    font-size: 1.5rem;
}

/* extra small */
.xsmall {
    font-size: 0.65rem;
}


/* grid image in profile show page */
.grid-img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/* medium */
.avatar-md {
    width: 3.5rem;
    height: 3.5rem;
    object-fit: cover;
}

.icon-md {
    font-size: 3.5rem;
}